main {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    /* background-image: url("images/1.png"); */
    // background-color: rgb(18, 6, 3); 
    background: radial-gradient(
        ellipse farthest-corner at 90% 60%,
        rgb(74, 43, 36),
        rgb(65, 31, 24) 10%,
        rgb(21, 6, 3) 50%,
        rgb(21, 6, 3)
      ); 
}
.main_describtion {
    width: 900px;
    margin-right: 0;
    font-size: 60px;
    color:rgb(235, 183, 120);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}
.main_text {
    width: 1000px;
    font-size: 30px;
    text-align: center;

}
header {
    width: 100%;
    height: 150px;
    background-color:rgb(18, 6, 3);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.straw_img {
    background-image: url("public/1.png"); 
    // background-color: red;
    width: 100px;
    height: auto;
    transform: scale(0.5, 0.5);
}
img {
    width: 700px;
    transform: scaleX(-1);
    margin-top:0px
    
}

h1, body {
    margin: 0;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('src/fonts/Reggae_One/ReggaeOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'MyCustomFont', sans-serif;
  }

nav {
    display: flex;
    color: white;
}

.nav_link {
    margin-right: 40px;
    transition: border-width 0.2s ;
    border-style: solid;
    border-color: aliceblue;
    border-width: 0px 0 0 0px;

}
.nav_link:hover {
    border-width: 0px 0 3px 0px;
    
}
.logo {
    color: white;
}
.header_btn_order {
    color: wheat;
}
.frame_catalogy {
    display: flex;
    width: 100%;
    justify-content: center;

    background-color: rgb(57, 39, 33);
}

.h1_catalogy {
    display: block;
    margin-top: 50px;
    color:rgb(246, 161, 92);
    font-size: 50px;
}

.catalogy {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card {
    width: 400px;
    height: 500px;
    background-color: rgb(93, 62, 52);
    margin: 30px;
}
.catalagy_name {
    display: flex;
    justify-content: center;
    background-color: rgb(57, 39, 33) ;
}
.button {
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 70px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 0;
    margin-bottom: 40px;
    width: 400px;
    height: 100px;
    background: radial-gradient(
        ellipse farthest-corner at 50% 50%,
        wheat,
        wheat 10%,
        rgb(232, 199, 139) 50%,
        rgb(163, 124, 51)
      ); 
    h1 {
        margin: 10px;
        margin-left: 20px;
        color: black;
        padding-top: 8px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
}